@import 'swagger-ui/dist/swagger-ui.css';

body {
  margin: 0;
  padding: 0;
}

app-root {
  display: grid;
  grid-template-columns: 20%;
  grid-template-rows: 4em;
  grid-template-areas:
    "nav selector"
    "nav content";
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  app-nav {
    grid-area: nav;
    overflow-y: auto;

    button {
      width: 100%;
      text-align: left;
    }

    .collapsed>.items {
      display: none;
    }

    app-domain {
      >button {
        background-color: steelblue;
        color: whitesmoke;
      }

      >.items {
        margin-inline-start: 1em;
      }
    }

    app-version {
      >button {
        border: none;
        background-color: aliceblue;
      }
    }
  }

  app-selector{
    display: flex;
    grid-area: selector;
    flex-direction: column;    

    >div {
    display: flex;
    flex-grow: 1;

    >button {
      flex-grow: 1;

      &.active {
        background-color: aqua;
      }
    }
  }}

  app-content {
    grid-area: content;
    overflow: auto;
  }
}
